// adaptive 
@mixin respond($media) {
    @if $media == desktop { // desktop = от 1000 до 1440
        @media only screen and (min-width: $desktopWidth) and (max-width: $fullWidth - 1) { @content; }
    }
    @if $media == tablet { // tablet = от 768 до 999
        @media only screen and (min-width: $tabletWidth) and (max-width: $desktopWidth - 1) { @content; }
    }
    @if $media == tabletMini { // tabletMini = От 480 до 767
        @media only screen and (min-width: $tabletMiniWidth) and (max-width: $tabletWidth - 1) { @content; }
    }
    @if $media == mobile { // mobile = От 320 до 479
        @media only screen and (max-width: $tabletMiniWidth - 1) { @content; }
    }
}

/*

    10PX
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.075em;

    12PX
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;

    15PX
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.125em;

    20PX
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1375em;

    25PX
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.15em;

    30PX
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1675em;

    40PX
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.1975em;

    50PX
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2152em;

*/

// large 50/57 text Headers
%largeText {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2152em;
    font-weight: 100;
    text-transform: uppercase;
}
%largePrimaryText {
    @extend %largeText;
    color: $primaryColor;
}
%largeSecondaryText {
    @extend %largeText;
    color: $secondaryColor;
}

// big 30/37 text Headers
%bigText {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1675em;
    font-weight: 300;
    text-transform: uppercase;
}
%bigPrimaryText {
    @extend %bigText;
    color: $primaryColor;
}
%bigSecondaryText {
    @extend %bigText;
    color: $secondaryColor;
}

// middle text Headers / Links
%middleText {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1375em;
    font-weight: 300;
    text-transform: uppercase;
}
%middlePrimaryText {
    @extend %middleText;
    color: $primaryColor;
}
%middleSecondaryText {
    @extend %middleText;
    color: $secondaryColor;
}
%middlePrimaryLowercaseText {
    text-transform: unset;
    letter-spacing: 0.1em;
    @extend %middlePrimaryText;
}

// line Header LARGE
%lineHeader {
    overflow: hidden;
    @extend %largePrimaryText;
    text-align: center;
    &:before, &:after {
        content: "";
        display: inline-block;
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $secondaryColor;
        transform: translateY(-17px);
        @include respond(tabletMini) {
            transform: translateY(-10px);
        }
        @include respond(mobile) {
            transform: translateY(-10px);
        }
    }
    &:before {
        margin-left: -100%; 
        left: -30px;
        @include respond(tabletMini) {
            left: -20px;
        }
        @include respond(mobile) {
            left: -20px;
        }
    }
    &:after {
        margin-right: -100%;
        right: -25px;
        @include respond(tabletMini) {
            right: -15px;
        }
        @include respond(mobile) {
            right: -15px;
        }
    }
    @include respond(tabletMini) {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.1675em;
    }
    @include respond(mobile) {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.1675em;
    }
}

// arrow Buttons
%arrowButton {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
    @extend %middleText;
    @include respond(mobile) {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.125em;
        white-space: nowrap;
    }
    &:after {
        content: "";
        position: absolute;
        top: 8px;
        right: -26px;
        width: 20px;
        height: 8px;
        transition: all .2s ease-in;
        @include respond(mobile) {
            top: 5px;
        }
    }
    &:hover {
        &:after {
            right: -36px;
        }
    }
}
%arrowPrimaryButton {
    @extend %arrowButton;
    color: $primaryColor;
    &:after {
        background: url(../images/arrow_right_white--icon.svg) no-repeat;
    }
}
%arrowSecondaryButton {
    @extend %arrowButton;
    color: $secondaryColor;
    &:after {
        background: url(../images/arrow_right--icon.svg) no-repeat;
    }
}