// wrappers
.wrapperFull {
    width: 1440px;
}
.wrapper {
    width: 1120px;
}
.wrapper, .wrapperFull {
    height: inherit;
    min-height: inherit;
    margin: 0 auto;
    @include respond(desktop) {
        width: $desktopWidth;
    }
    @include respond(tablet) {
        width: $tabletWidth;
    }
    @include respond(tabletMini) {
        width: $tabletMiniWidth;
    }
    @include respond(mobile) {
        width: $mobileWidth;
    }
}

// similarPhoto effect
.similarPhoto {
    transition: all .25s ease-in;
}
.similarPhoto--active {
    filter: grayscale(100%);
}

// splibBlocks
.splitBlocks {
    background-size: 100%;
    background-repeat: no-repeat;
 }

.innerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 94px;
    border-top: 1px solid $secondaryColor;
    .wrapper {
        @include respond(desktop) {
            margin-left: 35px;
            margin-right: 35px;
            width: 930px;
        }
        @include respond(tablet) {
            margin-left: 35px;
            margin-right: 35px;
            width: 698px;
        }
        @include respond(tabletMini) {
            margin-left: 35px;
            margin-right: 35px;
            width: 350px;
        }
        @include respond(mobile) {
            margin-left: 15px;
            margin-right: 15px;
            width: 290px;
        }
    }
}
