$primaryColor: #EDEDED;
$secondaryColor: #CEA776;
$errorColor: #EA3535;
$focusColor: #EA3535;

$fullWidth: 1440px;
$desktopWidth: 1000px;
$tabletWidth: 768px;
$tabletMiniWidth: 480px;
$mobileWidth: 320px;
