<footer>
    <div class="wrapper">
        <div class="footer">
            <img class="footerLogo" src="/images/logo.svg" width="114" height="27" alt="Logo arTE">
            <a href="#" target="_blank" class="footerLink footerLink--facebook">
                <img class="footerIcon" src="/images/facebook--icon.svg" width="11" height="22" alt="Facebook arTE">
            </a>
            <a href="#" target="_blank" class="footerLink footerLink--instagram">
                <img class="footerIcon" src="/images/instagram--icon.svg" width="23" height="24" alt="Instagram arTE">
            </a>
            <ul class="footerList">
                <li class="footerItem">
                    <address class="footerAddress">Адрес: ул. Рождественская д.5</address>
                    <span class="footerTimeline">Ежедневно с 11.00 - 22.00</span>
                </li>
                <li class="footerItem">
                    <span class="footerPhone">+7 920 535 55 55</span>
                    <span class="footerEmail">e-mail: arTE@gmail.com</span>
                </li>
            </ul>
        </div>
    </div>
</footer>