<ul class="pictureList">
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--new" href="/collection/1">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture1.png" alt="collection photo 1">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/1">Небольшой загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">250</span> x <span class="pictureWidth">200</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="125000">125 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--new" href="/collection/2">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture2.png" alt="collection photo 2">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/2">Загаловок чуть побольше на 2 строчки и несколько символов</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">300</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="99000">99 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--new" href="/collection/3">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture3.png" alt="collection photo 3">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/3">Небольшой загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Валентина Милославская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">400</span> x <span class="pictureWidth">200</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="300000">300 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--new" href="/collection/4">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture4.png" alt="collection photo 4">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/4">Большой загаловок аж на 3 строчки ну мало ли будут и такие большие загаловки</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">160</span> x <span class="pictureWidth">200</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="25000">25 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/5">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture5.png" alt="collection photo 5">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/5">Небольшой загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">140</span> x <span class="pictureWidth">220</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="49000">49 900</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/6">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture6.png" alt="collection photo 6">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/6">Небольшой загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Анастасия Большефамильная</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">220</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="999999">999 999</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/7">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture7.png" alt="collection photo 7">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/7">Очень дорогая картина</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">160</span> x <span class="pictureWidth">260</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="109000">109 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--sale" href="/collection/8">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture8.png" alt="collection photo 8">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/8">Картина на распродаже</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">240</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="75000">75 000</span>
                <span class="picturePrice picturePrice--old price--rub" data-rub="125000">125 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper photoLabel photoLabel--sale" href="/collection/9">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture9.png" alt="collection photo 9">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/9">Картина на распродаже</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">240</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="175000">175 000</span>
                <span class="picturePrice picturePrice--old price--rub" data-rub="325000">325 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/10">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture10.png" alt="collection photo 10">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/10">Загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">120</span> x <span class="pictureWidth">260</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="39000">39 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/11">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture11.png" alt="collection photo 11">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/11">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="40000">40 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/12">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture12.png" alt="collection photo 12">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/12">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="99000">99 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/13">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture13.png" alt="collection photo 13">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/13">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="12000">12 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/14">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture14.png" alt="collection photo 14">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/14">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="123000">123 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/15">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture15.png" alt="collection photo 15">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/15">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="25000">25 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/16">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture16.png" alt="collection photo 16">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/16">Стандартный загаловок</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Екатерина Жуковская</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="32000">32 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
    <li class="picture similarParent">
        <a class="picturePhotoWrapper" href="/collection/17">
            <img class="picturePhoto similarPhoto" src="/images/collection_picture17.png" alt="collection photo 17">
        </a>
        <div class="pictureHeaderWrapper">
            <a class="pictureHeader similarLink" href="/collection/17">Загаловок чуть больше стандартного</a>
        </div>
        <div class="pictureData">
            <div class="pictureInfoWrapper">
                <p class="pictureAuthorWrapper">
                    <a class="pictureAuthor" href="/authors/1">Li Yun</a>
                </p>
                <p class="pictureSize">
                    <span class="sizeLabel">Размер</span>:
                    <span class="pictureWidth">200</span> x <span class="pictureWidth">180</span>
                </p>
            </div>
            <div class="picturePriceWrapper">
                <span class="picturePrice picturePrice--main price--rub" data-rub="20000">20 000</span>
            </div>
        </div>
        <button class="cartButton">Добавить в корзину</button>
    </li>
</ul>