<template class="langTemplate">
    <div class="editWrapper">
        <form class="templateWrapper">
            <div class="templateElement">
                <label class="templateLabel" for="langRU"></label>
                <input class="templateField fieldRU" id="langRU" type="text" name="langRU">
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="langRU"></label>
                <input class="templateField fieldEN" id="langRU" type="text" name="langRU">
            </div>
            <button class="templateButton" type="submit">Сохранить</button>
        </form>
    </div>
</template>