<template class="langTemplate">
    <div class="editWrapper">
        <form class="templateWrapper">
            <div class="templateElement">
                <label class="templateLabel" for="langRU">RU Контент</label>
                <textarea class="templateField fieldRU" id="langRU" type="text" name="langRU"></textarea>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="langRU">EN Контент</label>
                <textarea class="templateField fieldEN" id="langRU" type="text" name="langRU"></textarea>
            </div>
            <button class="templateButton" type="submit">Сохранить</button>
        </form>
    </div>
</template>