<header>
    <div class="wrapperFull">
        <div class="header">
            <div class="headerLogo">
                <a href="/" class="headerLogo--link">
                    <img class="headerLogo--image" src="/images/logo.svg" width="114" height="27" alt="Logo arTE">
                </a>
            </div>
            <nav class="headerNav">
                <ul class="headerNav--list">
                    <li class="headerNav--item">
                        <a class="headerNav--link headerNav--basket" href="#">
                            <img src="/images/basket--icon.svg" width="18" height="19" alt="Basket">
                            <span class="basketCount basketCount--active">2</span>
                        </a>
                        <div class="headerBasket">
                            <div class="addedPictures">
                                <p class="basketHeader">Вы добавили в корзину:</p>
                                <div class="basketPicture">
                                    <img class="basketPhoto" src="/images/basket_added2.png" alt="added basket photo">
                                    <div class="basketData">
                                        <div class="pictureHeaderWrapper">
                                            <a href="#" class="pictureHeader">Небольшая, но дорогая и очень красивая картина</a>
                                        </div>
                                        <p class="pictureSize">
                                            <span class="sizeLabel">Размер</span>
                                            <span class="pictureWidth metric metric--ru">200</span>
                                            <span class="pictureHeight metric metric--ru">150</span>
                                        </p>
                                        <a class="pictureAuthor" href="#">Екатерина Жуковская</a>
                                        <em class="picturePrice price price--rub" data-rub="49000">49 000</em>
                                    </div>
                                </div>
                                <button class="basketButton">Перейти в корзину</button>
                            </div>
                            <button class="headerBasket--closeButton" disabled></button>
                        </div>
                    </li>
                    <li class="headerNav--item headerNav--language">
                        <span class="headerNav--link headerLanguage">RU</span>
                        <ul class="headerLanguage--list">
                            <li class="headerLanguage--item">
                                <a class="headerLanguage--link headerLanguage--active" data-language="ru-RU" href="#">RU</a>
                            </li>
                            <li class="headerLanguage--item">
                                <a class="headerLanguage--link" data-language="en-EN" href="#">EN</a>
                            </li>
                        </ul>
                    </li>
                    <li class="headerNav--item mainNav">
                        <ul class="mainNavList">
                            <li class="headerNav--item">
                                <a class="headerNav--link headerNav--collections" href="/collection.html">Коллекция</a>
                            </li>
                            <li class="headerNav--item">
                                <a class="headerNav--link headerNav--authors" href="/authors.html">Авторы</a>
                            </li>
                            <li class="headerNav--item">
                                <a class="headerNav--link headerNav--artPlacement" href="/art-space.html">Арт-пространство</a>
                            </li>
                            <li class="headerNav--item">
                                <a class="headerNav--link headerNav--delivery" href="/delivery.html">Доставка</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>