.deliveryBlock {
    border-top: 1px solid $secondaryColor;
    background-color: #000;
    background-image: url(/images/delivery--background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    .deliveryWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        @include respond(desktop) {
            margin-left: 35px;
            margin-right: 35px;
        }
        @include respond(tablet) {
            margin-left: 35px;
            margin-right: 35px;
        }
        @include respond(tabletMini) {
            margin-left: 35px;
            margin-right: 35px;
        }
        @include respond(mobile) {
            margin-left: 10px;
            margin-right: 10px;
        }
        .deliveryHeader {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
            @extend %largeSecondaryText;
            @include respond(tablet) {
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.1975em;
            }
            @include respond(tabletMini) {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 0.1675em;
            }
            @include respond(mobile) {
                margin-top: 10px;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 0.1675em;
            }
        }
        .deliveryAdditional {
            margin-top: 0;
            margin-bottom: 32px;
            text-align: center;
            @extend %middlePrimaryText;
            @include respond(mobile) {
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.125em;
            }
        }
        .deliveryIcon {
            margin-bottom: 40px;
        }
        .deliveryLink {
            margin-left: 0;
            @extend %arrowSecondaryButton;
        }
    }
}