.pictureListWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 40px;
    padding-left: 0;
    width: 1160px;
    @include respond(desktop) {
        width: $desktopContentWidth - 210;
    }
    @include respond(tablet) {
        margin-bottom: 20px;
        width: $tabletContentWidth - 170;
    }
    @include respond(tabletMini) {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
        width: $tabletMiniContentWidth + 20;
    }
    @include respond(mobile) {
        margin-left: 0;
        margin-right: 0;
        width: $mobileContentWidth;
    }
}

.pictureList {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    width: inherit;
    list-style-type: none;
    .picture {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 60px;
        width: 346px;
        @include respond(desktop) {
            width: 320px;
        }
        @include respond(tablet) {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 40px;
            width: 240px;
        }
        @include respond(tabletMini) {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 40px;
            width: 195px;
        }
        @include respond(mobile) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 40px;
            width: $mobileContentWidth;
        }
        .picturePhotoWrapper {
            position: relative;
            width: inherit;
            overflow: hidden;
            &:hover {
                .picturePhoto {
                    @extend %photoFilter;
                }
            }
            .picturePhoto {
                display: block;
                width: inherit;
                border: none;
                transition: all .25s ease-in;
            }
            .defaultPhoto {
                opacity: 0.7;
                border: 1px solid $secondaryColor;
                box-sizing: border-box;
                height: 240px;
            }
        }
        .photoLabel {
            &:after {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 14px;
                padding-right: 14px;
                font-size: 20px;
                line-height: 20px;
                font-weight: 700;
                text-transform: uppercase;
                transition: all .25s ease-in;
                @include respond(tablet) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 9px;
                    padding-right: 9px;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                }
                @include respond(tabletMini) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 9px;
                    padding-right: 9px;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                }
                @include respond(mobile) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 9px;
                    padding-right: 9px;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                }
            }
        }
        .photoLabel--new {
            &:after {
                content: "NEW";
                color: #000;
                background-color: #FFC700;
            }
        }
        .photoLabel--sale {
            &:after {
                content: "SALE";
                color: #000;
                background-color: #EA3535;
            }
        }
        .pictureHeaderWrapper {
            margin-top: 20px;
            margin-bottom: 20px;
            @include respond(tablet) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            @include respond(tabletMini) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            @include respond(mobile) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .pictureHeader {
                letter-spacing: 0.1em;
                transition: all .25s ease-in;
                @extend %middlePrimaryLowercaseText;
                @include respond(desktop) {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.1em;
                }
                @include respond(tablet) {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.1em;
                }
                @include respond(tabletMini) {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.1em;
                }
                @include respond(mobile) {
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.1em;
                }
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
        .pictureData {
            display: flex;
            justify-content: space-between;
            @include respond(tabletMini) {
                flex-direction: column;
            }
            .pictureInfoWrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-right: 20px;
                .pictureAuthorWrapper {
                    margin-top: 0;
                    margin-bottom: 0;
                    .pictureAuthor {
                        transition: all .25s ease-in;
                        @extend %smallSecondaryText;
                        @include respond(tablet) {
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.075em;
                        }
                        @include respond(tabletMini) {
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.075em;
                        }
                        @include respond(mobile) {
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.075em;
                        }
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
                .pictureSize {
                    margin-top: 10px;
                    margin-bottom: 0;
                    white-space: nowrap;
                    @include respond(tablet) {
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.075em;
                    }
                    .sizeLabel {
                        &:after {
                            content: ":";
                        }
                    }
                    .pictureHeight {
                        &:before {
                            content: "x";
                            margin-right: 5px;
                        }
                    }
                }
            }
            .picturePriceWrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;
                @include respond(tabletMini) {
                    margin-top: 10px;
                    align-items: flex-start;
                }
                .picturePrice--main {
                    margin-bottom: -5px;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: 0.15em;
                    @include respond(desktop) {
                        margin-bottom: -1px;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.125em;
                    }
                    @include respond(tablet) {
                        margin-bottom: -1px;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.125em;
                    }
                    @include respond(tabletMini) {
                        margin-bottom: -1px;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.125em;
                    }
                    @include respond(mobile) {
                        margin-bottom: -1px;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.1375em;
                    }
                }
                .picturePrice--old {
                    opacity: 0.5;
                    margin-top: 5px;
                    margin-bottom: -2px;
                    padding-right: 0;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                    text-decoration-line: line-through;
                    @include respond(tablet) {
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                    }
                    @include respond(tabletMini) {
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.1em;
                    }
                    &:before {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .cartButton {
            position: relative;
            margin-top: 20px;
            width: inherit;
            height: 40px;
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $secondaryColor;
            border: 1px solid $secondaryColor;
            background: #000;
            cursor: pointer;
            outline: none;
            transition: all .25s ease-in;
            @include respond(tablet) {
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
            }
            @include respond(tabletMini) {
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
                padding-left: 30px;
                box-sizing: border-box;
            }
            &:before {
                content: "";
                position: absolute;
                transform: translate(-28px, -4px) scale(0.7);
                width: 18px;
                height: 19px;
                background-image: url(/images/basket--icon.svg);
                transition: all .25s ease-in;
                @include respond(tablet) {
                    transform: translate(-28px, -5px) scale(0.7);
                }
                @include respond(tabletMini) {
                    transform: translate(-25px, -5px) scale(0.7);
                }
            }
            &:after {
                content: "";
                position: absolute;
                transform: translate(10px, 3px);
                width: 20px;
                height: 8px;
                background-image: url(/images/arrow_right--icon.svg);
                transition: all .25s ease-in;
                @include respond(tablet) {
                    transform: translate(7px, 2px) scale(0.8);
                }
                @include respond(tabletMini) {
                    display: none;
                }
            }
            &:hover {
                color: $primaryColor;
                border: 1px solid $primaryColor;
                &:before {
                    background-image: url(/images/basket_white--icon.svg);
                }
                &:after {
                    transform: translate(20px, 3px);
                    background-image: url(/images/arrow_right_white--icon.svg);
                    @include respond(tablet) {
                        transform: translate(17px, 2px) scale(0.8);
                    }
                }
            }
        }
        .cartButton--active {
            opacity: 0.2;
            border: 1px solid $primaryColor;
            background-color: $primaryColor;
            color: #000;
            cursor: default;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            &:hover {
                color: #000;
            }
        }
    }
}