<div class="innerPage">
    <div class="painterHeader">
        <div class="wrapper">
            <div class="painterHeaderWrapper">
                <h1 class="painterName">Екатерина Жуковская</h1>
                <span class="painterCity">Москва</span>
                <img class="painterPhoto" src="/images/author1_photo.png" alt="Author photo">
            </div>
        </div>
    </div>
    <div class="painterData">
        <div class="wrapper">
            <div class="painterDataWrapper">
                <ul class="breadcrumbs">
                    <li class="breadcrumb">
                        <a class="breadcrumbLink" href="/authors">Авторы</a>
                    </li>
                    <li class="breadcrumb">
                        <span class="breadcrumbLink--active">Екатерина Жуковская</span>
                    </li>
                </ul>
                <article class="painterDataArticle">
                    <h3 class="painterDataHeader">Оброзование</h3>
                    <ul class="painterDataList">
                        <li class="painterEvent">
                            <em class="painterTimeline">2002-2009</em>
                            <span class="painterText">Московский Академический Художественный Лицей при Российской Академии Художеств.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2009-2015</em>
                            <span class="painterText">Московский Академический Художественный Институт им.Сурикова, факультет живописи, мастерская современного искусства под руководством академика Салаховой А.Т. и Оссовского С.П.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2014-2015</em>
                            <span class="painterText">Школа современного искусства «Свободные мастерские» при Музее современного искусства.</span>
                        </li>
                    </ul>
                    <h3 class="painterDataHeader">Награды</h3>
                    <ul class="painterDataList">
                        <li class="painterEvent">
                            <em class="painterTimeline">2007</em>
                            <span class="painterText">Награждена золотой медалью Российской Академии Художеств.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Награждена золотой медалью Российской Академии Художеств.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">с 2015</em>
                            <span class="painterText">Член Союза Художников России</span>
                        </li>
                    </ul>
                    <h3 class="painterDataHeader">Выставки</h3>
                    <ul class="painterDataList">
                        <li class="painterEvent">
                            <em class="painterTimeline">2010</em>
                            <span class="painterText">Участие в выставке МОСХ России «Молодежная ХХХ», участие в выставке «Молодые художники России», ЦДХ.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2013-2015</em>
                            <span class="painterText">Работала над своими проектами и выставлялась в открытой студии (AidanStudio, ЦСИ Винзавод).</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Участие в выставке «Книга художника» при содействии МОММА иБиблиотеки «Проспект».</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Участие в выставке «ONLINE/OFFLINE», ЦСИ Винзавод AidanStudio.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Участие в выставке «SUB OBSERVATIONEM», Московский Музей Современного Искусства.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Участие в выставке «EGOCENTRIYA», ЦСИ Винзавод, Цех Красного.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2015</em>
                            <span class="painterText">Участие в выставке «Это мое место», TotalArtClub.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2016</em>
                            <span class="painterText">Участие в выставке “Я хочу”, AidanStudio ЦСИ Винзавод</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2016</em>
                            <span class="painterText">Участие в V Московской международной биеннале молодого искусства, галерея FineArt.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2017</em>
                            <span class="painterText">Участие в выставке “Июнь 22. На стороне человека”, галерея ЗДЕСЬ на Таганке.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2017</em>
                            <span class="painterText">Участие в выставке «Виновен», Московский Музей Современного Искусства.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2017</em>
                            <span class="painterText">Участие в выставке «Там, где никому не снятся сны: от священнойгеографии к не-месту», Московский Музей Современного Искусства.</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2018</em>
                            <span class="painterText">Участие в фестивале Пикник “Афиша”, инсталляция «Sexy Selfie»</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2018</em>
                            <span class="painterText">Участие в выставке "5 лайфаков для чайников" , Omelchenko Gallery, паралельная программа 6 Московской международной биеннале молодого искусства</span>
                        </li>
                        <li class="painterEvent">
                            <em class="painterTimeline">2019</em>
                            <span class="painterText">"Liza Tulchinskaya. Mimicry ", WUK, Vienna</span>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <h2 class="painterPicturesHeader">Работы</h2>
    <div class="picturesWrapper">
        <div class="wrapper">
            <div class="painterPictures">
                {{> picture-list }}
            </div>
        </div>
    </div>
</div>