<template class="authorTemplate">
    <div class="editWrapper">
        <div class="templateLoader"></div>
        <form class="templateWrapper templateWrapper--hidden">
            <div class="templateLine">
                <div class="templateElement">
                    <label class="templateLabel" for="authorRU">Имя автора RU</label>
                    <input type="text"
                        class="templateField authorRU"
                        id="authorRU"
                        data-validate="authorRU"
                        name="authorRU">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="authorEN">Имя автора EN</label>
                    <input type="text"
                        class="templateField authorEN"
                        id="authorEN"
                        data-validate="authorEN"
                        name="authorEN">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="authorLink">Линк автора</label>
                    <input type="text"
                        class="templateField authorLink"
                        id="authorLink"
                        data-validate="link"
                        name="authorLink">
                </div>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="authorAboutRU">Описание RU</label>
                <textarea
                    class="templateField authorAboutRU"
                    id="authorAboutRU"
                    data-validate="langSymbolsRU"
                    name="authorAboutRU"></textarea>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="authorAboutEN">Описание EN</label>
                <textarea
                    class="templateField authorAboutEN"
                    id="authorAboutEN"
                    data-validate="langSymbolsEN"
                    name="authorAboutEN"></textarea>
            </div>
            <div class="templateLine">
                <div class="templateElement">
                    <label class="templateLabel" for="authorCityRU">Город RU</label>
                    <input
                        class="templateField authorCityRU"
                        id="authorCityRU"
                        type="text"
                        data-validate="city"
                        name="authorCityRU">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="authorCityEN">Город EN</label>
                    <input
                        class="templateField authorCityEN"
                        id="authorCityEN"
                        type="text"
                        data-validate="city"
                        name="authorCityEN">
                </div>
            </div>
            <div class="templateButtons">
                <button
                    class="templateButton mainButton"
                    type="submit">
                    Создать
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>

<template class="authorDeleteTemplate">
    <div class="editWrapper">
        <form class="templateWrapper">
            <p class="templateHeader">Вы точно хотите удалить автора?</p>
            <p class="templateText">
                (это действие необратимо, так же удалятся все картины данного автора)
            </p>
            <div class="templateButtons">
                <button
                    class="templateButton mainButton"
                    type="submit">
                    Удалить
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>