<template class="eventTemplate">
    <div class="editWrapper">
        <div class="templateLoader"></div>
        <form class="templateWrapper templateWrapper--hidden">
            <div class="templateLine">
                <div class="templateElement">
                    <label class="templateLabel" for="eventTitleRU">Загаловок RU</label>
                    <input type="text"
                           class="templateField eventTitleRU"
                           id="eventTitleRU"
                           name="eventTitleRU">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="eventTitleEN">Загаловок EN</label>
                    <input type="text"
                           class="templateField eventTitleEN"
                           id="eventTitleEN"
                           name="eventTitleEN">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="eventLink">Линк</label>
                    <input type="text"
                           class="templateField eventLink"
                           id="eventLink"
                           name="eventLink">
                </div>
            </div>
            <div class="templateSelect">
                <p class="selectLabel">Категория</p>
            </div>
            <div class="templateLine">
                <div class="templateElement">
                    <label class="templateLabel" for="eventAnnotationRU">Аннотация RU</label>
                    <input type="text"
                           class="templateField eventAnnotationRU"
                           id="eventAnnotationRU"
                           name="eventAnnotationRU">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="eventAnnotationEN">Аннотация EN</label>
                    <input type="text"
                           class="templateField eventAnnotationEN"
                           id="eventAnnotationEN"
                           name="eventAnnotationEN">
                </div>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="eventTextRU">Описание RU</label>
                <textarea
                        class="templateField eventTextRU"
                        id="eventTextRU"
                        name="eventTextRU"></textarea>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="eventTextEN">Описание EN</label>
                <textarea
                        class="templateField eventTextEN"
                        id="eventTextEN"
                        name="eventTextEN"></textarea>
            </div>
            <div class="templateButtons">
                <button type="submit"
                        class="templateButton mainButton">
                    Добавить
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>

<template class="eventSelect">
    <ul class="templateList">
        <li class="templateItem">
            <span class="selectLink">Новости</span>
        </li>
        <li class="templateItem">
            <span class="selectLink">Афиша</span>
        </li>
    </ul>
</template>

<template class="createCategory">
    <form class="subForm">
        <ul class="subFormList">
            <li class="subFormElement">
                <label class="subFormLabel" for="categoryTitleRU">Загаловок RU</label>
                <input type="text"
                       name="categoryTitleRU"
                       class="subFormField categoryTitleRU"
                       id="categoryTitleRU">
            </li>
            <li class="subFormElement">
                <label class="subFormLabel" for="categoryTitleEN">Загаловок EN</label>
                <input type="text"
                       name="categoryTitleEN"
                       class="subFormField categoryTitleEN"
                       id="categoryTitleEN">
            </li>
            <li class="subFormElement">
                <label class="subFormLabel" for="categoryLink">Линк</label>
                <input type="text"
                       name="categoryLink"
                       class="subFormField categoryLink"
                       id="categoryLink">
            </li>
            <li class="subFormElement">
                <button type="submit"
                        class="subFormButton">
                    Создать
                </button>
            </li>
        </ul>
        <button class="adminButton closeSubFormButton">Закрыть</button>
    </form>
</template>

<template class="eventDeleteTemplate">
    <div class="editWrapper">
        <form class="templateWrapper">
            <p class="templateHeader">Вы точно хотите удалить новость?</p>
            <div class="templateButtons">
                <button
                    class="templateButton mainButton"
                    type="submit">
                    Удалить
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>