<template class="authorExhibitionTemplate">
    <div class="editWrapper">
        <div class="templateLoader"></div>
        <form class="templateWrapper templateWrapper--hidden">
            <div class="templateLine">
                <div class="templateElement">
                    <label class="templateLabel" for="exhibitionYearRU">Год RU</label>
                    <input
                        class="templateField exhibitionYearRU"
                        id="exhibitionYearRU"
                        type="text"
                        data-validate="yearRU"
                        name="exhibitionYearRU">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="exhibitionYearEN">Год EN</label>
                    <input
                        class="templateField exhibitionYearEN"
                        id="exhibitionYearEN"
                        type="text"
                        data-validate="yearEN"
                        name="exhibitionYearEN">
                </div>
                <div class="templateElement">
                    <label class="templateLabel" for="exhibitionPlace">Позиция</label>
                    <input
                        class="templateField exhibitionPlace"
                        id="exhibitionPlace"
                        type="text"
                        data-validate="place"
                        name="exhibitionPlace">
                </div>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="exhibitionRU">Описание RU</label>
                <textarea
                    class="templateField exhibitionRU"
                    id="exhibitionRU"
                    data-required="true"
                    data-validate="langSymbolsRU"
                    name="exhibitionRU"></textarea>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="exhibitionEN">Описание EN</label>
                <textarea
                    class="templateField exhibitionEN"
                    id="exhibitionEN"
                    data-required="true"
                    data-validate="langSymbolsEN"
                    name="exhibitionEN"></textarea>
            </div>
            <div class="templateButtons">
                <button
                    class="templateButton deleteButton"
                    type="submit">
                    Удалить
                </button>
                <button
                    class="templateButton mainButton"
                    type="submit">
                    Добавить
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>