<template class="langTemplate">
    <div class="editWrapper">
        <div class="templateLoader"></div>
        <form class="templateWrapper templateWrapper--hidden">
            <div class="templateElement">
                <label class="templateLabel" for="langRU">RU Контент</label>
                <textarea
                    class="templateField langRU"
                    id="langRU"
                    data-required="true"
                    data-validate="langSymbolsRU"
                    name="langRU"></textarea>
            </div>
            <div class="templateElement">
                <label class="templateLabel" for="langEN">EN Контент</label>
                <textarea
                    class="templateField langEN"
                    id="langEN"
                    data-required="true"
                    data-validate="langSymbolsEN"
                    name="langEN"></textarea>
            </div>
            <div class="templateButtons">
                <button
                    class="templateButton mainButton"
                    type="submit">
                    Сохранить
                </button>
            </div>
        </form>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>