<template class="photoTemplate">
    <div class="editWrapper">
        <div class="templateLoader"></div>
        <div class="templateWrapper templateWrapper--hidden photoCropper">
            <img class="editablePhoto" src="">
            <button type="submit" class="mainButton">Сохранить</button>
        </div>
        <button class="adminButton closeButton">Закрыть</button>
    </div>
</template>