<div class="splitBlocks splitBlocks--main">
    <div class="mainBlockWrapper">
        <div class="wrapperFull">
            <div class="mainBlock">
                <img class="mainLogo" src="images/logo.svg" alt="arTE logo">
                <p class="mainDescription">
                    Текст про то кто мы такие креативное пространство у нас есть галлерея в которой можно тусить и слушать музыку но наше основное направление это продажа картин
                </p>
                <h1 class="mainHeader">Наша коллекция</h1>
                <div class="mainCollection">
                    <img class="collectionPhoto" src="images/collection_photo1.png" alt="arTE collection photo 1">
                    <img class="collectionPhoto" src="images/collection_photo2.png" alt="arTE collection photo 2">
                    <img class="collectionPhoto" src="images/collection_photo3.png" alt="arTE collection photo 3">
                    <img class="collectionPhoto" src="images/collection_photo4.png" alt="arTE collection photo 4">
                    <img class="collectionPhoto" src="images/collection_photo5.png" alt="arTE collection photo 5">
                    <img class="collectionPhoto" src="images/collection_photo6.png" alt="arTE collection photo 6">
                    <img class="collectionPhoto" src="images/collection_photo7.png" alt="arTE collection photo 7">
                    <a class="collectionLink" href="#">Показать больше</a>
                </div>
            </div>
        </div>
    </div>
    <div class="authorsWrapper">
        <h2 class="authorsHeader">Авторы</h2>
        <div class="wrapper">
            <include src="source/components/blocks/main/author.html"></include>
        </div>
    </div>
    <div class="orderWrapper">
        <h2 class="orderHeader">Картины на заказ</h2>
        <div class="wrapper">
            <div class="orderBlock">
                <p class="orderDescription">
                    Наша студия создаст картины по вашему заказу в необходимом вам масштабе. Мы работаем с изображениями в техниках принт, живопись и графика.
                </p>
                <div class="orderExamples">
                    <div class="picturesWrapper">
                        <h2 class="picturesHeader">Портреты</h2>
                        <p class="picturesDescription">
                            Вы можете заказать портрет в современном стиле для себя или близких людей.
                        </p>
                        <img class="picturesExample" src="images/orders_picture1.png" alt="arTE order picture 1">
                        <img class="picturesExample" src="images/orders_picture2.png" alt="arTE order picture 2">
                        <img class="picturesExample" src="images/orders_picture3.png" alt="arTE order picture 3">
                    </div>
                    <div class="reproductionsWrapper">
                        <h2 class="reproductionsHeader">Репродукции</h2>
                        <p class="reproductionsDescription">
                            Репродукции картин современных художников станут стильным элементом вашего интерьера и создадут особую, творческую атмосферу в помещении. Это также оригинальный и приятный подарок для близких и коллег.
                        </p>
                        <img class="reproductionsExample" src="images/orders_reproduction1.png" alt="arTE order reproduction 1">
                        <img class="reproductionsExample" src="images/orders_reproduction2.png" alt="arTE order reproduction 2">
                        <img class="reproductionsExample" src="images/orders_reproduction3.png" alt="arTE order reproduction 3">
                    </div>
                </div>
                <a class="orderButton" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div>