.editable {
    position: relative;
    border: 1px dashed $errorColor !important;
    cursor: pointer !important;
    &:hover {
        border: 1px solid $errorColor !important;
    }
}

.adminButton {
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    font-size: 0;
    cursor: pointer;
    outline: none;
}

.editWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    .templateLoader {
        width: 50px;
        height: 50px;
        background-image: url(/images/loader_gold_big--icon.svg);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: center center;
    }
    .templateWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $wrapperWidth;
        @include respond(desktop) {
            width: $desktopContentWidth;
        }
        @include respond(tablet) {
            width: $tabletContentWidth;
        }
        @include respond(tabletMini) {
            width: $tabletMiniContentWidth;
        }
        @include respond(mobile) {
            width: $mobileContentWidth;
        }
        .templateHeader {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.125em;
            color: $secondaryColor;
            text-transform: uppercase;
            text-align: center;
        }
        .templateText {
            margin-top: 0;
            margin-bottom: 40px;
            text-align: center;
        }
        .templateLine {
            display: flex;
            margin-top: 0;
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 0;
            width: ($wrapperWidth / 2) + 20;
            @include respond(tabletMini) {
                margin-left: -5px;
                margin-right: -5px;
                width: $tabletMiniContentWidth + 10;
            }
            @include respond(mobile) {
                margin-left: -5px;
                margin-right: -5px;
                width: $mobileContentWidth + 10;
            }
        }
        .templateSelect {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: ($wrapperWidth / 2) + 20;
            .selectLabel {
                margin-top: 0;
                margin-left: 10px;
                margin-bottom: 10px;
                color: $secondaryColor;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                @include respond(tabletMini) {
                    margin-bottom: 0;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.075em;
                    text-transform: uppercase;
                }
                @include respond(mobile) {
                    margin-bottom: 0;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0.075em;
                    text-transform: uppercase;
                }
            }
            .templateList {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 0;
                margin-bottom: 20px;
                padding-left: 0;
                list-style-type: none;
                .templateItem {
                    margin-left: 10px;
                    margin-right: 10px;
                    .selectLink {
                        display: inline-block;
                        padding-top: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-bottom: 5px;
                        border: 1px dashed $primaryColor;
                        color: $primaryColor;
                        cursor: pointer;
                        &:hover {
                            color: $secondaryColor;
                            border: 1px solid $secondaryColor;
                        }
                    }
                    .selectLink.chosenLink {
                        color: #000;
                        border: 1px solid $secondaryColor;
                        background-color: $secondaryColor;
                    }
                }
            }
        }
        .templateElement {
            display: flex;
            flex-shrink: 1;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 20px;
            @include respond(tabletMini) {
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 10px;
            }
            @include respond(mobile) {
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 10px;
            }
        }
        .templateLabel {
            margin-bottom: 5px;
            color: $secondaryColor;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            @include respond(tabletMini) {
                margin-bottom: 0;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
                text-transform: uppercase;
            }
            @include respond(mobile) {
                margin-bottom: 0;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
                text-transform: uppercase;
            }
        }
        .templateField {
            opacity: 0.65;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: #000;
            font-family: "Gilroy", Arial, sans-serif;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            width: 100%;
            outline: none;
            @include respond(tabletMini) {
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
            }
            @include respond(mobile) {
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
            }
            &:focus {
                opacity: 1;
                color: $secondaryColor;
                border: 1px solid $secondaryColor;
            }
        }
        textarea.templateField {
            width: $wrapperWidth / 2;
            height: 154px;
            @include respond(tabletMini) {
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                width: $tabletMiniContentWidth;
                height: 96px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
            }
            @include respond(mobile) {
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                width: $mobileContentWidth;
                height: 96px;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.075em;
            }
        }
        .templateButtons {
            display: flex;
            flex-direction: row;
            margin-left: -10px;
            margin-right: -10px;
            width: ($wrapperWidth / 2) + 20;
            @include respond(tabletMini) {
                margin-left: -5px;
                margin-right: -5px;
                width: $tabletMiniContentWidth + 10;
            }
            @include respond(mobile) {
                margin-left: -5px;
                margin-right: -5px;
                width: $mobileContentWidth + 10;
            }
        }
        .templateButton {
            opacity: 0.65;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            height: 32px;
            background-color: #000;
            border: 1px solid $primaryColor;
            color: $primaryColor;
            font-size: 12px;
            line-height: 32px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
            &:hover {
                opacity: 1;
                color: $secondaryColor;
                border: 1px solid $secondaryColor;
            }
            @include respond(tabletMini) {
                margin-left: 5px;
                margin-right: 5px;
                height: 24px;
                font-size: 10px;
                line-height: 24px;
                letter-spacing: 0.075em;
            }
            @include respond(mobile) {
                margin-left: 5px;
                margin-right: 5px;
                height: 24px;
                font-size: 10px;
                line-height: 24px;
                letter-spacing: 0.075em;
            }
        }
        .templateButton.deleteButton {
            border-color: $errorColor;
            color: $errorColor;
        }
    }
    .templateWrapper.templateWrapper--hidden {
        display: none;
    }
    .closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url(/images/basket_close--icon.svg);
        &:hover {
            background-image: url(/images/basket_close_white--icon.svg);
        }
    }
}

.adminAuthorsWrapper {
    margin-bottom: -20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 20px;
    background-image: linear-gradient(246.59deg,#000 24.57%,#1e1b1e 82.74%);
    .adminAuthors {
        display: flex;
        justify-content: flex-end;
    }
    .adminAuthorAddButton {
        background-image: url(/images/people_add--icon.svg);
        &:hover {
            background-image: url(/images/people_add_white--icon.svg);
        }
    }
}

.adminAuthorRemoveButton {
    position: absolute;
    top: 20px;
    right: 0;
    background-image: url(/images/author_delete--icon.svg);
    &:hover {
        background-image: url(/images/author_delete_white--icon.svg);
    }
}

.adminListButton {
    display: block;
    height: 20px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 0;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.075em;
    color: $secondaryColor;
    text-transform: uppercase;
    text-align: left;
    border: none;
    background-image: url(/images/admin_list_add--icon.svg);
    background-position: left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        color: $primaryColor;
        background-image: url(/images/admin_list_add_white--icon.svg);
    }
    &:after {
        margin-left: 24px;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.editableItem.painterEvent {
    cursor: pointer;
    &:hover {
        color: $secondaryColor;
    }
}

// layout

.adminLayoutList {
    display: none;
    z-index: 10001;
    position: absolute;
    top: 2px;
    right: -111px;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    .adminLinkWrapper {
        margin-bottom: 14px;
        text-align: right;
        .adminLink {
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 7px;
            color: #FFF;
            text-decoration: none;
            white-space: nowrap;
            text-transform: uppercase;
            background-color: $errorColor;
            &:hover {
                background-color: $secondaryColor;
            }
        }
        .adminLink.subLink {
            background-color: darken($errorColor, 15%);
            &:hover {
                background-color: $secondaryColor;
            }
        }
    }
}