.editable {
    position: relative;
    border: 1px dashed $errorColor !important;
    cursor: pointer !important;
    &:hover {
        border: 1px solid $errorColor !important;
    }
}
.editWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}