.footer {
    position: relative;
    min-height: inherit;
    @include respond(desktop) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @include respond(tablet) {
        margin-left: 35px;
        margin-right: 35px;
    }
    @include respond(tabletMini) {
        margin-left: 35px;
        margin-right: 35px;
    }
    .footerLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 114px;
        height: 27px;
        transform: translate(-50%, -50%);
        @include respond(tablet) {
            top: 50%;
            left: 0;
            margin-top: -15px;
            transform: translate(0, -50%);
        }
        @include respond(tabletMini) {
            display: none;
        }
        @include respond(mobile) {
            top: 0;
            left: 15px;
            transform: translate(0, 0);
        }
    }
    .footerList {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        box-sizing: border-box;
        min-height: inherit;
        list-style-type: none;
        @include respond(tablet) {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
        @include respond(tabletMini) {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
        @include respond(mobile) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .footerItem {
            display: flex;
            flex-direction: column;
            position: relative;
            @include respond(tablet) {
                position: unset;
            }
            @include respond(tabletMini) {
                position: unset;
            }
            @include respond(mobile) {
                &:nth-of-type(2) {
                    order: -1;
                }
            }
            .footerAddress {
                text-transform: uppercase;
                font-style: normal;
                @include respond(tablet) {
                    margin-bottom: 5px;
                    text-transform: unset;
                }
                @include respond(tabletMini) {
                    margin-bottom: 5px;
                    text-transform: unset;
                }
                @include respond(mobile) {
                    margin-bottom: 5px;
                    text-transform: unset;
                }
            }
            .footerTimeline {
                margin-top: 17px;
                margin-bottom: 0;
                @include respond(tablet) {
                    align-self: flex-end;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                @include respond(tabletMini) {
                    align-self: flex-end;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                @include respond(mobile) {
                    margin-top: 0;
                }
            }
            .footerPhone {
                align-self: flex-end;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.1375em;
                color: $primaryColor;
                &:hover {
                    color: $secondaryColor;
                }
                @include respond(tablet) {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: 7px;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                }
                @include respond(tabletMini) {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: 7px;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.125em;
                }
                @include respond(mobile) {
                    align-self: flex-start;
                    margin-bottom: 20px;
                }
            }
            .footerEmail {
                align-self: flex-end;
                margin-top: 10px;
                text-transform: uppercase;
                color: $primaryColor;
                &:hover {
                    color: $secondaryColor;
                }
                @include respond(tablet) {
                    margin-top: 0;
                    text-transform: unset;
                }
                @include respond(tabletMini) {
                    margin-top: 0;
                    text-transform: unset;
                }
                @include respond(mobile) {
                    align-self: flex-start;
                    margin-top: 0;
                    margin-bottom: 5px;
                    text-transform: unset;
                }
            }
        }
    }
    .footerLink--instagram,
    .footerLink--facebook {
        position: absolute;
        top: 38px;
        right: 0;
        &:hover {
            opacity: 0.5;
        }
    }
    .footerLink--instagram {
        width: 23px;
        height: 24px;
        transform: translateX(-240px);
        @include respond(tablet) {
            top: 50%;
            left: 50%;
            transform: translate(10px, -50%);
        }
        @include respond(tabletMini) {
            top: 50%;
            left: 0;
            margin-top: -13px;
            transform: translate(30px, -50%);
        }
        @include respond(mobile) {
            top: 5px;
            transform: translateX(-15px);
        }
    }
    .footerLink--facebook {
        width: 11px;
        height: 22px;
        transform: translateX(-285px);
        @include respond(tablet) {
            top: 50%;
            left: 50%;
            transform: translate(-20px, -50%);
        }
        @include respond(tabletMini) {
            top: 50%;
            left: 0;
            margin-top: -13px;
            transform: translate(0px, -50%);
        }
        @include respond(mobile) {
            top: 5px;
            transform: translate(-55px);
        }
    }
}

.loginWrapper {
    opacity: 0;
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all 0.2s ease-in;
    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60px;
        position: relative;
        .loginFieldWrapper {
            position: relative;
            .loginLabel {
                position: absolute;
                top: 0;
                left: 10px;
                display: block;
                height: 26px;
                line-height: 26px;
                font-size: 12px;
                letter-spacing: 0.1em;
                color: $primaryColor;
            }
            .loginField {
                opacity: 0.7;
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;
                width: 120px;
                height: 26px;
                line-height: 26px;
                font-family: "Gilroy", Arial, sans-serif;
                font-size: 12px;
                letter-spacing: 0.1em;
                color: $primaryColor;
                background-color: #000;
                border: 1px solid $secondaryColor;
                outline: none;
                &:focus {
                    opacity: 1;
                }
            }
        }
        .loginButton {
            opacity: 0.7;
            position: absolute;
            top: 0;
            right: -36px;
            width: 30px;
            height: 60px;
            background-color: #000;
            border: none;
            font-size: 0;
            background-image: url(/images/arrow_right_breadcrumbs--icon.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
            cursor: pointer;
            outline: none;
            &:hover {
                opacity: 1;
            }
        }
    }
}