.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    height: 94px;
    background: #000;
    @include respond(mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_logo {
        margin-right: 35px;
        .header_logo__image {
            width: 114px;
            height: 27px;
        }
    }
    .headerNav {
        .headerNav--list {
            display: flex;
            align-items: center;
            padding-left: 0;
            list-style-type: none;
        }
        .headerNav--item {
            position: relative;
            margin-top: 0;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0;
            @include respond(tablet) {
                text-align: right;
            }
            @include respond(tabletMini) {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                text-align: right;
            }
            @include respond(mobile) {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                text-align: right;
            }
            .adminEye {
                display: block;
                width: 20px;
                height: 20px;
                background-image: url(/images/eye--icon.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                font-size: 0;
                cursor: pointer;
                outline: none;
                &:hover {
                    background-image: url(/images/eye_white--icon.svg);
                }
            }
            .adminEye.activated {
                background-image: url(/images/eye_hide--icon.svg);
                &:hover {
                    background-image: url(/images/eye_hide_white--icon.svg);
                }
            }
        }
        .headerNav--basket {
            margin-top: 2px;
        }
        .headerNav--language {
            margin-right: 0;
        }
        .mainNav {
            order: -1;
            margin-left: 0;
            margin-right: 0;
            .mainNavList {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
                list-style-type: none;
                @include respond(tablet) {
                    position: absolute;
                    top: -20px;
                    right: -5px;
                    padding-top: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 15px;
                    box-sizing: border-box;
                    width: 190px;
                    background: #000;
                }
                @include respond(tabletMini) {
                    position: absolute;
                    top: -20px;
                    right: -5px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                    width: 190px;
                    background: #000;
                }
                @include respond(mobile) {
                    position: absolute;
                    top: -10px;
                    right: -5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    box-sizing: border-box;
                    width: 170px;
                    background: #000;
                }
            }
            @include respond(tablet) {
                order: 2;
                align-self: center;
                margin-left: 40px;
                width: 16px;
                height: 15px;
                background-image: url(/images/sandwitch-icon.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                .mainNavList {
                    display: none;
                }
            }
            @include respond(tabletMini) {
                order: 2;
                align-self: center;
                margin-left: 40px;
                width: 16px;
                height: 15px;
                background-image: url(/images/sandwitch-icon.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                .mainNavList {
                    display: none;
                }
            }
            @include respond(mobile) {
                order: 2;
                align-self: center;
                margin-left: 20px;
                width: 16px;
                height: 15px;
                background-image: url(/images/sandwitch-icon.svg);
                background-color: transparent;
                background-repeat: no-repeat;
                .mainNavList {
                    display: none;
                }
            }
        }
        .headerNav--link {
            display: inline-block;
            height: 22px;
            line-height: 22px;
            color: $primaryColor;
            text-transform: uppercase;
            text-decoration: none;
            outline: none;
            transition: all .15s ease-in;
            &:focus {
                color: $focusColor;
            }
            &:hover {
                color: $secondaryColor;
            }
        }
        .headerNav--basket {
            &:hover {
                opacity: 0.5;
            }
        }
        .basketCount {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: -8px;
            width: 16px;
            height: 16px;
            background: #EA3535;
            border-radius: 50%;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0;
            font-weight: 700;
        }
        .basketCount--active {
            display: flex;
        }
        .headerNav--language {
            position: relative;
            color: $secondaryColor;
            &:after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(250%);
                width: 11px;
                height: 8px;
                background-image: url(/images/arrow_down--icon.svg);
                background-color: transparent;
                background-position: bottom center;
                background-repeat: no-repeat;
            }
        }
        .headerNav--active {
            display: inline-block;
            height: 22px;
            line-height: 22px;
            color: $primaryColor;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 1px solid $secondaryColor;
            cursor: default;
        }
    }
    .headerBasket {
        display: none;
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: -12px;
        right: -14px;
        background-color: #000;
        border: 1px solid $secondaryColor;
        transition: opacity .15s ease-in;
        @include respond(tabletMini) {
            top: -10px;
            right: -114px;
        }
        @include respond(mobile) {
            top: -10px;
            right: -85px;
        }
        .addedPictures {
            width: 640px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
            text-align: left;
            background: rgba(0, 0, 0, 0.5);
            @include respond(tablet) {
                width: 450px;
            }
            @include respond(tabletMini) {
                width: $tabletMiniContentWidth;
            }
            @include respond(mobile) {
                width: $mobileContentWidth + 20;
            }
            .basketHeader {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.125em;
                color: $secondaryColor;
                text-transform: uppercase;
                @include respond(mobile) {
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                }
            }
            .basketPicture {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                margin-bottom: 20px;
                width: 100%;
                &:last-of-type {
                    margin-bottom: 0px;
                }
                .basketPhoto {
                    width: 200px;
                    height: 100%;
                    @include respond(tablet) {
                        width: 160px;
                    }
                    @include respond(tabletMini) {
                        width: 140px;
                    }
                    @include respond(mobile) {
                        width: 100px;
                    }
                }
                .basketData {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    margin-left: 20px;
                    padding-bottom: 40px;
                    box-sizing: border-box;
                    .pictureHeaderWrapper {
                        margin-bottom: 10px;
                        .pictureHeader {
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.125em;
                            color: $primaryColor;
                            text-transform: uppercase;
                            &:hover {
                                color: $secondaryColor;
                            }
                            @include respond(mobile) {
                                font-size: 12px;
                                line-height: 14px;
                                letter-spacing: 0.1em;
                            }
                        }
                    }
                    .pictureSize {
                        display: inline-block;
                        margin-top: 0;
                        margin-bottom: 10px;
                        @include respond(mobile) {
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.075em;
                        }
                        .sizeLabel {
                            &:after {
                                content: ":";
                            }
                        }
                        .pictureWidth {
                            &:after {
                                content: "x";
                            }
                        }
                    }
                    .pictureAuthor {
                        text-transform: uppercase;
                        color: $secondaryColor;
                        @include respond(mobile) {
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: 0.075em;
                        }
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                    .picturePrice {
                        position: absolute;
                        bottom: 0;
                        .picturePrice--main {
                            font-weight: 300;
                            font-style: normal;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 0.1375em;
                            @include respond(mobile) {
                                font-size: 15px;
                                line-height: 18px;
                                letter-spacing: 0.125em;
                            }
                        }
                        .picturePrice--old {
                            opacity: 0.5;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.125em;
                            text-decoration-line: line-through;
                            font-style: normal;
                            white-space: nowrap;
                            @include respond(mobile) {
                                font-size: 12px;
                                line-height: 14px;
                                letter-spacing: 0.1em;
                            }
                        }
                    }
                }
            }
            .basketButton {
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding-right: 30px;
                box-sizing: border-box;
                width: 220px;
                height: 40px;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $secondaryColor;
                border: 1px solid $secondaryColor;
                background-color: transparent;
                transition: opacity .25s ease-in;
                cursor: pointer;
                @include respond(tablet) {
                    position: relative;
                    right: 0;
                    bottom: 0;
                    margin-top: 20px;
                    width: 100%;
                }
                @include respond(tabletMini) {
                    position: relative;
                    right: 0;
                    bottom: 0;
                    margin-top: 20px;
                    width: 100%;
                }
                @include respond(mobile) {
                    position: relative;
                    right: 0;
                    bottom: 0;
                    margin-top: 20px;
                    width: 100%;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translate(8px, -50%);
                    background-image: url(/images/arrow_right--icon.svg);
                    width: 20px;
                    height: 8px;
                }
                &:hover {
                    color: $primaryColor;
                    border-color: $primaryColor;
                    &:after {
                        background-image: url(/images/arrow_right_white--icon.svg);
                    }
                }
            }
        }
        .headerBasket--empty {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 410px;
            height: 135px;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.1375em;
            text-transform: uppercase;
            color: $secondaryColor;
            @include respond(mobile) {
                width: 310px;
            }
        }
        .headerBasket--closeButton {
            position: absolute;
            top: 14px;
            right: 14px;
            width: 16px;
            height: 16px;
            border: none;
            background-image: url(/images/basket_close--icon.svg);
            background-color: transparent;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all .15s ease-in;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .headerLanguage--list {
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: -15px;
        left: -6px;
        padding-top: 5px;
        padding-left: 6px;
        padding-right: 5px;
        padding-bottom: 5px;
        box-sizing: border-box;
        list-style-type: none;
        background-color: #000;
        transition: all .15s ease-in;
        .headerLanguage--link {
            display: block;
            height: 22px;
            line-height: 22px;
            color: $primaryColor;
            text-transform: uppercase;
            text-decoration: none;
            outline: none;
            &:hover {
                font-weight: 800;
            }
        }
        .headerLanguage--active {
            color: $secondaryColor;
            cursor: default;
            &:hover {
                font-weight: 300;
            }
        }
    }
}