// wrappers
.wrapperFull {
    width: $wrapperFullWidth;
}
.wrapper {
    width: $wrapperWidth;
}
.wrapper, .wrapperFull {
    position: relative;
    height: inherit;
    min-height: inherit;
    margin-left: auto;
    margin-right: auto;
    @include respond(desktop) {
        width: $desktopWidth;
    }
    @include respond(tablet) {
        width: $tabletWidth;
    }
    @include respond(tabletMini) {
        width: $tabletMiniWidth;
    }
    @include respond(mobile) {
        width: $mobileWidth;
    }
}

// similarPhoto effect
.similarPhoto {
    transition: all .25s ease-in;
}
.similarPhoto--active {
    filter: grayscale(100%);
}

// splibBlocks
.splitBlocks {
    background-size: 100%;
    background-repeat: no-repeat;
 }

.innerPage {
    margin-top: 94px;
    border-top: 1px solid $secondaryColor;
    .wrapper {
        @include respond(desktop) {
            margin-left: 35px;
            margin-right: 35px;
            width: $desktopContentWidth;
        }
        @include respond(tablet) {
            margin-left: 35px;
            margin-right: 35px;
            width: $tabletContentWidth;
        }
        @include respond(tabletMini) {
            margin-left: 35px;
            margin-right: 35px;
            width: $tabletMiniContentWidth;
        }
        @include respond(mobile) {
            margin-left: 15px;
            margin-right: 15px;
            width: $mobileContentWidth;
        }
    }
}

.price--rub {
    white-space: nowrap;
    &:before {
        display: none;
    }
    &:after {
        content: "₽";
        margin-left: 5px;
    }
}
.price--euro {
    white-space: nowrap;
    &:before {
        content: "€";
        margin-right: 5px;
    }
    &:after {
        display: none;
    }
}