<div class="authorsBlock">
    <ul class="authorsList">
        <li class="authorsItem similarParent">
            <img class="authorsImage similarPhoto" src="images/author1_photo.png" alt="arTE author 1 picture">
            <div class="authorsLinkWrapper">
                <a class="authorsLink similarLink" href="#">Катерина Жуковская</a>
            </div>
            <span class="authorsPlace">Москва, Россия</span>
        </li>
        <li class="authorsItem similarParent">
            <img class="authorsImage similarPhoto" src="images/author2_photo.png" alt="arTE author 2 picture">
            <div class="authorsLinkWrapper">
                <a class="authorsLink similarLink" href="#">Изабелла Лебедева</a>
            </div>
            <span class="authorsPlace">Санкт-Петербург, Россия</span>
        </li>
        <li class="authorsItem similarParent">
            <img class="authorsImage similarPhoto" src="images/author3_photo.png" alt="arTE author 3 picture">
            <div class="authorsLinkWrapper">
                <a class="authorsLink similarLink" href="#">Sasha Ignatiadou</a>
            </div>
            <span class="authorsPlace">Düsseldorf, Germany</span>
        </li>
    </ul>
    <a class="authorsButton" href="#">Показать больше</a>
</div>