<div class="splitBlocks splitBlocks--events">
    <div class="artSpaceBlock">
        <div class="wrapper">
            <div class="artSpaceWrapper">
                <h2 class="artSpaceHeader">Арт-пространство</h2>
                <ul class="artSpaceList">
                    <li class="artSpaceItem similarParent">
                        <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo1.png" alt="arTE art space photo 1">
                        <a class="artSpaceLink artSpaceLink--artCoworking similarLink" href="#">Арт-коворкинг</a>
                    </li>
                    <li class="artSpaceItem similarParent">
                        <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo2.png" alt="arTE art space photo 2">
                        <a class="artSpaceLink artSpaceLink--seminars similarLink" href="#">Семинары</a>
                    </li>
                    <li class="artSpaceItem similarParent">
                        <img class="artSpacePhoto similarPhoto" src="/images/art-space_photo3.png" alt="arTE art space  photo 3">
                        <a class="artSpaceLink artSpaceLink--events similarLink" href="#">Мероприятия</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="interestBlock">
        <h2 class="interestHeader">Интересное</h2>
        <div class="wrapperFull">
            <div class="interestWrapper">
                <ul class="interestList">
                    <li class="interestItem similarParent">
                        <img class="interestPhoto similarPhoto" src="/images/interest_photo1.png" alt="arTE interest photo 1">
                        <a class="interestLink similarLink" href="#">Instagram-интенсив «Теперь так»</a>
                        <p class="interestDescription">В процессе работы над партитурами создаются ситуации «встречи», которые понимаются как метафора сложных динамических процессов определения, различения, совместности.</p>
                        <a class="interestTheme interestTheme--news" href="#">Новости</a>
                    </li>
                    <li class="interestItem interestItem--active similarParent">
                        <img class="interestPhoto similarPhoto" src="/images/interest_photo2.png" alt="arTE interest photo 2">
                        <a class="interestLink similarLink" href="#">Инсталляции группы Numen/For Use «Оклеим Москву»</a>
                        <p class="interestDescription">Во время работы выставки ее посещение будет разбито на четыре акта. В каждом акте выставочное пространство будет менять свои очертания, заметки и артефакты будут сменять друг друга, создавая среду для исполнения партитур приглашенными танцовщиками.</p>
                        <a class="interestTheme interestTheme--poster" href="#">Афиша</a>
                    </li>
                    <li class="interestItem similarParent">
                        <img class="interestPhoto similarPhoto" src="/images/interest_photo3.png" alt="arTE interest photo 3">
                        <a class="interestLink similarLink" href="#">День открытых дверей в ARTE</a>
                        <p class="interestDescription">В процессе работы над партитурами создаются ситуации «встречи», которые понимаются как метафора сложных динамических процессов определения, различения, совместности.</p>
                        <a class="interestTheme interestTheme--poster" href="#">Афиша</a>
                    </li>
                </ul>
                <a class="interestButton" href="#">Показать больше</a>
            </div>
        </div>
    </div>
</div>