<div class="instagramBlock">
    <div class="wrapper">
        <div class="instagramWrapper">
            <div class="instagramDescription">
                <h3 class="instagramHeader">Инстаграм</h3>
                <a class="instagramName" href="#">@ art_of_moscoww</a>
            </div>
            <ul class="instagramList">
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo1.png" alt="arTE instagram photo 1">
                    </a>
                </li>
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo2.png" alt="arTE instagram photo 2">
                    </a>
                </li> 
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo3.png" alt="arTE instagram photo 3">
                    </a>
                </li> 
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo4.png" alt="arTE instagram photo 4">
                    </a>
                </li> 
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo5.png" alt="arTE instagram photo 5">
                    </a>
                </li> 
                <li class="instagramItem">
                    <a class="instagramLink" href="#">
                        <img class="instagramPhoto" src="/images/instagram_photo6.png" alt="arTE instagram photo 6">
                    </a>
                </li> 
            </ul>
        </div>
    </div>
</div>