<div class="recallForm">
    <div class="wrapper">
        <form action="/recall" method="POST" class="recallWrapper">
            <h3 class="recallForm--header sended--hide">Оставьте свои контакты <nobr>и мы перезвоним!</nobr></h3>
            <p class="recallForm--description sended--hide">Мы расскажем о нас <nobr>и ответим на все ваши вопросы!</nobr></p>
            <div class="recallForm--item sended--hide">
                <label class="recallForm--label" for="recallName">
                    <span class="recallForm--require">*</span>
                    <span class="recallForm--title recallForm--name">Ваше имя</span>
                </label>
                <div class="errorBlock--field errorBlock--name">Укажите Ваше имя</div>
                <input class="recallForm--field" type="text" id="recallName" name="recallName" data-type="name">
            </div>
            <div class="recallForm--item sended--hide">
                <label class="recallForm--label" for="recallPhone">
                    <span class="recallForm--require">*</span>
                    <span class="recallForm--title recallForm--phone">Телефон</span>
                </label>
                <div class="errorBlock--field errorBlock--phone">Некорректный номер</div>
                <input class="recallForm--field" type="text" id="recallPhone" name="recallPhone" data-type="phone">
            </div>
            <div class="recallForm--item sended--hide">
                <label class="recallForm--label" for="recallEmail">
                    <span class="recallForm--require">*</span>
                    <span class="recallForm--title recallForm--email">E-mail</span>
                </label>
                <div class="errorBlock--field errorBlock--email">Некорректный e-mail</div>
                <input class="recallForm--field" type="text" id="recallEmail" name="recallEmail" data-type="email">
            </div>
            <button class="recallForm--button sended--hide" type="submit">Отправить</button>
            <div class="errorBlock--form">Пожалуйста, заполните все необходимые поля</div>
            <h3 class="recallForm--sendedHeader sended--show">В ближайшее время мы с вами свяжемся.</h3>
        </form>    
    </div>
</div>